/* GENERAL */
body {
    background-color: #ffeeba;
    font-family: 'Englebert', sans-serif;
}
input[type=text], select, textarea {
    background-color: #ffeeba;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;;
}
legend {
    color: rgb(135, 130, 127);
    font-size: 1.5rem;; 
    font-weight: bold;
}
fieldset { 
    padding-bottom: 16px;
    box-sizing: border-box;
    width: 100%;
}

/* FIELDSETS WITH IMAGES */
p {margin: 10px 0}

.clue {
    display: block;
    font-size: 14px;
}

.group-images {
    display: flex;
    flex-wrap: wrap;
    }

.img-option { 
    padding: 5px;
    padding-bottom: 7px;
    float: left;
    box-sizing: border-box;
    width: 16.66%;
    }

img {
    box-sizing: border-box;
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    max-width: 300px;

    border-radius: 8px;
    display: block;     
}

.group-other{ margin-top: 0 }

/* SECTION 'FOOD TO AVOID' */
#group-allergies { 
    margin-top: 8px; 
    margin-bottom: 4px;
}

#section-other-nos {
    margin-top: 5px;
} 

#other-nos {
    display: inline-block;
    width: 350px;
}

/* SECTION 'LOCATION' */
input[type=radio] {
    margin-left: 0px;
    float: left;
}

textarea#host-condition {
    float: left;
    clear: right;
    width: 100%;
    max-width: 400px;
    min-height: 60px;
    margin: 4px 0;
}
#group-hosting-no {
    float:left; 
    clear: left;
}

/* SUBMIT BUTTON */
#group-submit {

    width: 320px;
    display: block;
    margin: 10px auto;
}

/***** Responsive adjustments *****/

@media (max-width: 1024px) {
    .img-option { 
        width: 20%;
    }
}

@media (max-width: 768px) {
    .img-option { 
        width: 25%;
    }
}

@media (max-width: 600px) {
    .img-option { 
        width: 33.33%;
    }
}

@media (max-width: 500px) {
    .img-option { 
        width: 50%;
    }

}

@media (max-width: 450px) {
    #group-2restaurants, #group-diet , #group-2cakes{
        margin-top: 8px;
    }

    input[type=radio] {
        padding-left: 8px;
    }
}

@media (max-width: 400px) {

    input#allergies { display: block }

    input#other-nos { width: 95%; }

    label[for=person] {
        display: block;
        text-align: center;
    } 
    
    input#person, input[type=submit] {
        display: block;
        margin: 3px auto;
    }
}
