/*** GENERAL PART ***/
    body, html {
        height: 100%;
    }

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1, h2, h3 {
        font-family: 'Inconsolata', monospace;
        font-weight: normal;
        text-align: center;
    }

    .img-parallax {

        /* the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        /* other effects for 'parallaxed images' here */
        height: 100%;
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* elements inside 'parallaxed images' */
    .img-parallax > * {
        margin-top: 0px;
        margin-bottom: 0;
    }
/*** END OF GENERAL PART ***/

/*** TITLE PART***/
    .img-town {
        background-image: url("../images/Town.jpg");
        position: relative;
    }

    h1 {
        font-size: 48px;
        color: gray;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    h1 span {
        background-color: white;
        border: 5px solid gray;
        padding: 7px 15px;
        opacity: .8;
    }

    h1 br {
        display: none;
    }
/*** END OF TITLE PART ***/

section {
    font-size: 20.5px;
    padding: 50px;
    margin: 0;
    background-color: #282E34;
}

section.dark {
    color: gray;
}

section h3 {
    margin-top: 0;
    color: whitesmoke;
}

section.dark h3 {
    color: rgb(185, 185, 167);
}

h2 {
    letter-spacing: 11px;
    text-transform: uppercase;
    font-size: 56px;
}   

#img-museum {
    background-image: url("../images/Museum.jpg");
    height: 40%;
}

section:nth-of-type(2) {
    background-color: rgb(207, 199, 147);
}

#img-lake {
    background-image: url("../images/BlueLake.jpg");
    height: 55%;
}

section:nth-of-type(3) {
    background-color: #5F92A5;
}

#img-hall {
    background-image: url("../images/Hall.jpg");
    height: 40%;
}

#bye-text {
    text-align: center;
    font-family: 'Pacifico', cursive;
    position: relative;
    bottom: 70%;
    font-size: 30px;
    color:#3B3838;
}

/********** Small devices adjustments **********/
    @media (max-width: 522px) {
        h1 br {
            display: block;
        }

        h1 span {
            -webkit-box-decoration-break: clone;
            -o-box-decoration-break: clone;
            box-decoration-break: clone;
            display: inline-block;
            font-size: 32px;
        }

        section {
            padding: 20px;
        }

        h2 {
            font-size: 50px;
        }

        h3 {
            margin-bottom: 0;
        }

        p {
            font-size: 17px;
            text-align:center
        }
    }
