<% layout('layouts/boilerplate')%>

<!-- NAVBAR -->
<script>
    $('#all-posts-nav').addClass('active');
</script>

<!-- HEADER -->

<header id="header" class="bg-primary text-white">
    <div class="container py-2 ">
        <h1>
            <i class="fas fa-pencil-alt"></i>
            Posts
        </h1>
    </div>
</header>

<!-- SEARCHER -->

<section id="searcher" class="py-4">
    <div class="container">
        <div class="col-sm-6 offset-sm-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Posts...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>    
</section>

<!-- POSTS TABLE -->
<section id="posts-table">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Latest Posts</h4>
            </div>
            <%- include('../partials/posts-table')%>  
          
            <div class="container">
                <nav>
                    <ul class="pagination mt-3">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>       
</section>





