<% layout('layouts/boilerplate')%>

<!-- NAVBAR -->
<script>
    $('#by-user-nav').addClass('active');
</script>

<!-- HEADER -->

<header id="header" class="bg-warning text-white">
    <div class="container py-2 ">
        <h1>
            <i class="fas fa-users"></i>
            Users
        </h1>
    </div>
</header>

<!-- SEARCHER -->

<section id="searcher" class="py-4">
    <div class="container">
        <div class="col-sm-6 offset-sm-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Users...">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>    
</section>

<!-- USERS TABLE -->

<section id="posts-table">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Latest Users</h4>
            </div>
            <table class="table table-striped mb-0">
                <thead class="thead-dark">
                    <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach( (user, index) => { %>
                    <tr>
                    <td> <img src="../../img/avatar.png" height="50px" width="50px"> </td>
                    <td><%= user.username %> </td>
                    <td><%= user.email %> </td>
                    <td><a href="/users/<%= user._id %> " class="btn btn-secondary">
                        <i class="fas fa-angle-double-right"></i>
                        Details
                    </a></td>
                    </tr>
                    <% }) %> 
                </tbody>
            </table>
        </div>
    </div>       
</section>





